<h2><%= t('.header') %></h2>

<section class="adminlist">
  <header>
    <h3><%= t('.adminlist.header') %></h3>
  </header>

  <ul class="admins">
    <% admins.each do |admin| %>
      <li><%= admin.email %></li>
    <% end %>
  </ul>
</section>
