.users-registrations, .users-sessions {
  br {
    display: none;
  }

  form {
    margin-bottom: $base-spacing;

    ~ a {
      display: block;
    }
  }

  .field label {
    margin-top: $base-spacing;
  }
}
