.devise-registrations, .devise-sessions, .users-registrations, .users-sessions {
  br {
    display: none;
  }

  form {
    margin-bottom: $base-spacing;

    ~ a {
      display: block;
    }
  }

  .field {
    margin-bottom: $base-spacing;
  }

  label[for="user_remember_me"] {
    display: inline;
    margin-bottom: $tiny-spacing;
  }

  .terms {
    color: $secondary-text-dark;
    font-size: modular-scale(-1);
    font-style: italic;
  }
}
