.dashboards.show {
  .add {
    @include button;
    @include compact-button;
  }

  .trash_bags {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 15em;

    @media all and (min-width: $medium-screen) {
      margin: 0;
      margin-left: $base-spacing;
    }
  }
}
