.dashboards.show {
  .add {
    @include button;
    @include compact-button;
  }

  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .stats {
    max-width: 14em;
  }
}
