.admins-admins {
  &.new, &.create {
    @media (screen and min-width: $medium-screen) {
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.index {
    .admins {
      margin-bottom: $base-spacing;

      li:not(last-child) {
        margin-bottom: $tiny-spacing;
      }
    }

    .delete_admin {
      @include button;
      @include compact-button;
      margin-right: $small-spacing;
    }

    .new_admin {
      @include button;
    }
  }
}
