@mixin appbar {
  @include elevation(4);
  @include position(fixed, 0 0 null 0);

  background-color: $appbar-background-color;
  display: flex;
  padding: $base-spacing;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  a {
    @include styled-link($appbar-font-color);
  }
}

@mixin appbar-item {
  &:not(:last-child) {
    margin-right: $small-spacing;
  }
}

// Until `position: sticky` works on all major browsers, and it is actually
// initially placed in the normal document flow, we'll need to use an extra div
// to push the top of the page content down below the appbar.
@mixin appbar-spacer {
  height: $base-line-height + 2 * $base-spacing;
  width: 100vw;
}
