html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: $base-background-color;
  margin: 0;
}

main {
  margin: $small-spacing;

  @media (min-width: $medium-screen) {
    margin: $base-spacing;
  }
}