<% if record.errors.any? %>
  <div class="error_explanation">
    <h3>Please fix the following errors:</h3>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
