<article id="site_description">
  <h1>
    <%= t('.greeting') %>
  </h1>
  <p>
    This is the place to log your clean up efforts and find areas in need of
    some TLC!
  </p>
</article>
<% unless user_signed_in? %>
  <article id="site_entry">
    <%= render 'users/registrations/form' %>
    <%= render 'users/sessions/form' %>
  </article>
<% end %>
