.deeds.new, .deeds.create {
  max-width: 31em;

  i {
    color: $primary-color;
    font-size: modular-scale(2);
    margin-left: $tiny-spacing;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    margin-bottom: $base-spacing;
  }

  p {
    margin-bottom: $tiny-spacing;
  }

  .note {
    color: $secondary-text-dark;
    font-size: modular-scale(-1);
    font-style: italic;
  }

  label[for$="_photo"] {
    margin-bottom: $tiny-spacing / 2;
  }

  label[for="deed_trash_bags"] {
    display: inline-block;
  }

  #deed_trash_bags {
    max-width: 5em;
  }

  #trash_bag_instructions {
    @include elevation(4);

    background-color: $primary-color;
    border-radius: $base-border-radius;
    color: $primary-text-light;
    display: none;
    font-weight: normal;
    left: 2em;
    padding: $small-spacing;
    position: absolute;
    width: 15em;

    li {
      list-style: circle;
      margin-left: $base-spacing;
    }

    ul {
      margin-bottom: $small-spacing;
    }
  }
}
