#app_bar {
  @include elevation(4);

  background-color: $primary-color;
  color: $primary-text-light;
  display: flex;
  justify-content: space-between;
  padding: $small-spacing;
  position: sticky;
  top: 0;

  .logo {
    align-items: baseline;
    color: $primary-text-light;
    display: flex;
    font-family: $logo-font-family;
    font-size: modular-scale(3);
    line-height: 1;

    img {
      height: 1.3em;
      margin-right: $tiny-spacing;
    }
  }

  .menu_toggler {
    @include styled_link($primary-text-light);

    display: none; // don't display until event handlers are attached
    margin: auto 0;
    padding: $tiny-spacing;
  }
}

#nav_drawer {
  @include elevation(16);

  background-color: $base-background-color;
  display: none;
  height: 100%;
  float: right;
  padding: $small-spacing;

  .button_to input {
    @include convert_button_to_link;
  }
}

#nav_drawer_container {
  @include elevation(15);

  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
