// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: join('Muli', $font-stack-system);
$heading-font-family: $base-font-family;
$logo-font-family: join('HVD Poster', $base-font-family);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Font Sizes
$button-font-size: 16px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$base-z-index: 0;

// Brand Colors
$accent-color: #b1e87c;
$primary-color: #2b7a0e;
$primary-color-dark: #004d00;
$primary-color-light: #5eaa40;

// Font Colors
$primary-text-dark: rgba(#000, .87);
$secondary-text-dark: rgba(#000, .54);
$hint-text-dark: rgba(#000, .38);
$primary-text-light: rgba(#fff, 1);
$secondary-text-light: rgba(#fff, .70);
$hint-text-light: rgba(#fff, .50);
$link-color: $primary-color;

// Background Colors
$base-background-color: #fafafa;

// Border
$base-border-size: 1px;
$base-border-color: rgba(#000, .12);
$base-border: $base-border-size solid $base-border-color;
$dark-border: $base-border-size solid $secondary-text-dark;

// Focus
$focus-outline-color: opacify($base-border-color, 0.3);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
