<article class="instructions">
  <header>
    <h2>Instructions</h2>
  </header>

  <ol>
    <li>
      Log your work
      <ol>
        <li>
          What counts as one trash bag? A doggie poop bag, grocery bag, green
          steps bag, regular trash bag, a box of trash, one large bulky item -
          use your best judgement!
        </li>
        <li>
          Make sure to include a before and after photo. The before photo must
          show the area you are planning on cleaning up. The after photo must
          include that same area as well as the trash bags you're logging.
        </li>
        <li>Every bag is worth one point.</li>
      </ol>
    </li>
    <li>
      Redeem a gift card
      <ol>
        <li>
          Once you have at least 5 points, you will be able to request a gift
          card right here on the dashboard.
        </li>
        <li>
          You may redeem a total of $30 in gift cards per month, with each card
          being a minimum of $5.
        </li>
      </ol>
    </li>
    <li>
      <%= link_to 'Contact us', 'https://www.greenstepschatt.com/volunteer/' %>
      if you have any questions or are interested in becoming a sponsor!
    </li>
  </ol>
</article>
