<article class="dashboard">
  <section class="stats">
    <h2>Your Stats</h2>
    <section class="trash_bags">
      <div class="count">
        <%= pluralize(current_user.total_trash_bags, 'trash bag') %>
      </div>
    </section>

    <section class="miles">
      <div class="count">
        <%= pluralize(current_user.total_miles, 'miles') %>
      </div>
    </section>

    <%= link_to new_deed_path, class: 'add' do %>
      <%= fa_icon 'plus' %>
    <% end %>
  </section>
</article>
