<h2><%= t('.header') %></h2>

<ul class="admins">
  <% admins.each do |admin| %>
    <li><%= admin.email %></li>
  <% end %>
</ul>

<%= link_to new_admins_admin_path, class: 'new_admin' do %>
  <%= fa_icon('plus') %>
<% end %>
