.error_explanation {
  @include error-coloring;
  margin-bottom: $small-spacing;
  padding: $small-spacing;

  h3 {
    margin-bottom: $tiny-spacing;
  }

  ul {
    list-style: disc inside;
    margin-left: $small-spacing;
  }
}
