.admin-dashboards.show {
  h2 {
    text-align: center;
  }

  h3 {
    margin-right: $tiny-spacing;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .prize_management {
    max-width: 20em;
  }
}
