@mixin styled-link($color: $primary-color) {
  color: $color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($color, 25%);
    cursor: pointer;
  }
}
