.welcome.index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > :not(first-child) {
    margin-top: $small-spacing;
  }

  @media screen and (min-width: $medium-screen) {
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex: 1 1;
      margin: $small-spacing;
      flex-basis: 40%;
    }
  }
}

#site_entry {
  @include elevation(4);

  background-color: white;
  border-radius: $base-border-radius;
  height: 28em;
  max-width: 31em;
  position: relative;

  form {
    margin: $base-spacing auto;
    max-width: 22em;
    min-width: 14em;
  }

  h2 {
    border-bottom: 2px solid $secondary-text-light;
    display: inline;
    padding-bottom: $tiny-spacing / 2;
  }

  header {
    background-color: $primary-color;
    color: $primary-text-light;
    padding: $base-spacing;
    margin-bottom: $small-spacing;
    text-align: center;
    width: 50%;
  }

  #sign_up,
  #log_in {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    &:not(.active) {
      z-index: 1; // only visible part is header, and it needs to be clickable

      form {
        display: none;
      }

      h2 {
        border-bottom: 0;
      }

      header {
        @include styled-link-tint($secondary-text-light);
      }
    }
  }

  #log_in header {
    border-top-right-radius: $base-border-radius;
    margin-left: auto;
  }

  #sign_up header {
    border-top-left-radius: $base-border-radius;
    margin-right: auto;
  }

  .terms {
    color: $secondary-text-dark;
    font-size: modular-scale(-1);
    font-style: italic;
  }
}
